.container {
  display: flex;
  flex-direction: column;
}

.image_background {
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 0;
}

.image_container {
  display: flex;
}

.title_container {
  position: absolute;
  top: 7em;
  left: 5em;
}

.title {
  color: white;
  text-shadow: 2px 2px 8px black;
  font-size: 40px;
  margin: 0 1em;
}
.subtitle {
  color: white;
  text-shadow: 2px 2px 8px black;
  margin: 1em 1em;
}

.equipe {
  display: flex;
  flex-direction: column;
}

.equipe h1 {
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  padding: 0 3em;
  padding-top: 1em;
  margin-top: 0;
}

.equipe_container {
  display: flex;
  flex-direction: column;
}

.equipe_card {
  display: flex;
  flex-direction: column;
  margin: 1em 10em;
}

.equipe_card_title {
  margin-bottom: -5px;
  font-weight: 500;
}

.equipe_card_body {
  display: flex;
  border: 1px solid black;
  border-radius: 10px;
  margin: 1em 0;
  background-color: rgba(0, 0, 255, 0.4);
}

.equipe_card_text {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
}

.equipe_card img {
  border-radius: 10px;
  margin-left: -1px;
}
.equipe_card h3 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 1em;
}

.equipe_card h4 {
  font-size: 18px;
  font-weight: 400;
  margin: 0 1em;
}
