.container {
  position: absolute;
  top: 1em;
  left: 4em;
  z-index: 5;
}

.link {
  margin: 0 1em;
  color: white;
  /* text-shadow: 2px 2px 8px black; */
  font-weight: bold;
  font-size: 18px;
}
